body {
    background: #b9b9b9;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    overflow-x: hidden;
}

.espace-separation-section {
    height: 100px;
}


.barre-navigation {
    background-color: #041a6162;
    backdrop-filter: blur(50px);
    box-shadow: 0 4px 20px rgb(0, 0, 0);
    border: none;
    min-height: 20px;
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
    z-index: 1030;
}

.sociale-lien{
    height: 45px;
    transition: all 0.4s ease;
}
.sociale-lien:hover{
    transform: scale(1.5);
    transition: all 0.4s ease;
}

.lien-header{
    font-size: 1rem;
    font-weight: 530;
}

.part-gauche{
    background: linear-gradient(rgba(255, 255, 255, 0.486), rgba(255, 255, 255, 0.877)), url("assets/images/styles/p4.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-position: relative;
    min-height: 450px;            
}
.po-profil{
    background-color: #ffffff;
}


.section-apropos{
    background: linear-gradient(rgba(255, 255, 255, 0.733), rgba(206, 215, 255, 0)), url("assets/images/styles/p1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-position: relative;
    min-height: 450px; 
}
.section-projets{
    background: linear-gradient(rgb(255, 255, 255), rgba(206, 215, 255, 0)), url("assets/images/styles/8.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-position: relative;
    min-height: 450px; 
}
.apparition{
    opacity: 0;
    transform: translateY(50px);
    transition: all 1s ease;
}
.apparition.visible{
    opacity: 1;
    transform: translateY(0);
}
.section-disponible{
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(206, 215, 255, 0)), url("assets/images/styles/serveur.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: relative;
    min-height: 100px; 
}
.section-disponible2{
    background: linear-gradient(rgba(60, 66, 94, 0), rgba(206, 215, 255, 0)), url("assets/images/styles/dispo2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: relative;
    min-height: 100px; 
}
.section-disponible3{
    background: linear-gradient(rgba(60, 66, 94, 0.219), rgba(20, 34, 97, 0.137)), url("assets/images/styles/free.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: relative;
    min-height: 100px; 
}

.text-disponible{
    color: #ffffff;
    font-size: 1.8rem;
}

.pourcentage{
    font-size: 3rem;
    font-weight: 900;
    color: #00c853;
    display: inline-block;
    text-shadow: 0 0 15px rgba(0,200,83,0.5);
}


.section-experience{
    background-color: #ffffff;
}
.section-projets{
    background-color: #7e8dbe;
}

.titre-apropos{
    font-size: 2rem;
    font-weight: 560;
    color: #1c238a;
}
.titre-formation{
    font-size: 2.5rem;
    font-weight: 600;
}
.titre-second{
    font-size: 2rem;
    font-weight: 560;
    color: #1d92ff;
}
.titre-ita{
    font-size: 2rem;
    font-weight: 600;
}

/* État initial caché */
.reveal {
    opacity: 0;
    transition: transform 0.8s ease-out, opacity 0.8s ease-out;
}

/* Décalage initial */
.fade-left {
    transform: translateX(-50px); /* Pousse vers la gauche */
}

.fade-right {
    transform: translateX(50px); /* Pousse vers la droite */
}

/* État final quand l'élément est visible à l'écran */
.reveal.visible {
    opacity: 1;
    transform: translateX(0);
}

.section-formation{
    background: linear-gradient(rgba(255, 255, 255, 0.63), rgba(255, 255, 255, 0.568)), url("assets/images/styles/18.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-position: relative;
    min-height: 450px; 
}

.lieu-ita{
    height: 380px;
    width: 590px; 
    border-radius: 20%;
    transition: all 0.4s cubic-bezier(0.25, 1, 0.5, 1);
    object-fit: cover;
}
.lieu-ita:hover {
    transform: scale(1.02);
    transition: all 0.6s ease;
}
.lieu-ya-consulting{
    height: 300px;
    width: 550px; 
    border-radius: 8%;
    transition: all 0.4s cubic-bezier(0.25, 1, 0.5, 1);
}
.lieu-ya-consulting:hover {
    transform: scale(1.02);
    transition: all 0.6s ease;
}

.logo-navigation {
    color: #000000;
    font-weight: 800;
    font-size: 1.1rem;
    transition: all 0.4s;
}
.logo-navigation:hover{
    color: #ffffff;
    transition: all 0.6s ease;
}

.lien-navigation {
    color: #000000;
    font-weight: 600;
    font-size: 1rem;
    transition: all 0.6s;
}
.lien-navigation:hover {
    color: #ffffff;
    transition: all 0.6s ease;
    
}

.text-profil{
    font-family: 'Inter', sans-serif;
    font-size: 1.20rem;
    line-height: 1.8;
    font-weight: 400;
    color: #000000;
}
.text-card{
    font-family: 'Inter', sans-serif;
    font-size: 1.10rem;
    line-height: 1.8;
    font-weight: 400;
    color: #a6d0f3;
}
.text-card-c{
    font-family: 'Inter', sans-serif;
    font-size: 1.10rem;
    line-height: 1.8;
    font-weight: 400;
    color: #7dffaf;
}

.text-disponible {
    transition: opacity 0.8s ease;
}

.fade-out {
    opacity: 0;
}

.fade-in {
    opacity: 1;
}

/* points */
.point {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgba(255,255,255,0.3);
    display: inline-block;
    margin: 0 4px;
    transition: 0.3s;
}

.point.active {
    background: #fff;
    transform: scale(1.3);
}


.espace-M{
    height: 60px;
}
.espace-G{
    height: 130px;
}
.espace-dispo{
    height: 180px;
}


.card-f {
    background-color: #000000; /* On enlève le fond lourd */
    color: #ebebeb;
    border-radius: 0; /* Des angles droits stricts font plus architectural et premium */
    border: none;
    border-left: 5px solid rgb(39, 97, 255); /* Ligne verticale discrète */
    box-shadow: none; /* Pas d'ombre */
    transition: all 2s cubic-bezier(0.25, 1, 0.5, 1);
}

.card-f:hover {
    border-left-color: #ff660d; /* La ligne s'allume au survol */
    transform: translateX(25px); /* Léger décalage vers la droite ultra fluide */
    background-color: rgb(1, 10, 51); /* Reflet très subtil */
}

.card-e{
    background-color: #000000;
    border-radius: 20px;
    width: 750px;
    border-top: 5px solid #1452ff;
    color: #ebebeb;
    transition: all 0.4s cubic-bezier(0.25, 1, 0.5, 1);
}
.card-e:hover{
    transform: scale(1.05);
    border-top: 8px solid #ceb7f8;
    background-color: #01020c;
    transition: all 0.4s cubic-bezier(0.25, 1, 0.5, 1);
}
/* Style personnalisé pour les badges de compétences */
.badge-tech {
    background-color: rgb(13, 7, 95) !important; /* Fond turquoise très transparent */
    color: #ffffff !important; /* Texte turquoise */
    border: 1px solid rgba(0, 180, 160, 0.2); /* Fine bordure */
    padding: 0.5em 0.9em;
    font-weight: 500;
    font-size: 0.85rem;
    letter-spacing: 0.3px;
}

/* Optionnel : un petit effet au survol si tu veux */
.badge-tech:hover {
    background-color: rgb(37, 156, 7) !important;
    color: #ffffff !important;
    transition: all 0.3s ease;
}
.card-c{
    background-color: #020202fa;
    border-radius: 20px;
    color: #ebebeb;
    transition: all 0.4s cubic-bezier(0.25, 1, 0.5, 1);
}
.card-c:hover{
    transform: scale(1.05);
    border-right: 5px solid #2aa30c;
    background-color: #020313;
    transition: all 0.4s cubic-bezier(0.25, 1, 0.5, 1);
}

.titre-l3 {
    font-size: 1.2rem;
    font-weight: 700;
    color: #ffffff;
    letter-spacing: 0.5px;
}

.badge-annee {
    color: #0537be;
    font-weight: 600;
    font-size: 0.9rem;
    letter-spacing: 1px;
}

/* Style optionnel pour rendre le texte étendu plus élégant */
.texte-description-diplome {
    font-size: 0.95rem;
    color: #b0b0b5;
    border-top: 1px solid rgba(255, 255, 255, 0.1); /* Ligne de séparation fine */
    line-height: 1.5;
}

.bouton-burger {
    border-color: rgba(0, 0, 0, 0.1);
}


/* SECTION HERO (SPLIT 50/50) */
.section-principale {
    overflow: hidden;
    height: 100vh;
}

.bloc-contenu-texte {
    animation: apparitionFluide 1s ease-out;
}

.titre-principal {
    font-size: calc(3rem + 3vw);
}

.sous-titre-principal {
    letter-spacing: 2px;
}

.metier-principal {
    letter-spacing: 1px;
}

.ligne-separation {
    width: 60px;
    height: 2px;
    background-color: #000000;
}

.texte-description {
    font-size: 1.2rem;
    max-width: 450px;
    line-height: 1.6;
    transition: opacity 0.8s ease;
}
.fade-out{
    opacity: 0;
}

.fade-in{
    opacity: 1;
}


/* BLOC IMAGE (DROITE) */
.bloc-image-conteneur {
    overflow: hidden;
}

.image-moitie-droite {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 0.5s ease;
}

.bloc-image-conteneur:hover .image-moitie-droite {
    transform: scale(1.02);
}


/* BOUTONS MINIMALISTES */
.bouton-sombre {
    background-color: #000000;
    color: #ffffff;
    border: 1px solid #000000;
    border-radius: 0;
    text-transform: uppercase;
    font-size: 0.85rem;
    letter-spacing: 2px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.bouton-sombre:hover {
    background-color: #ffffff;
    color: #000000;
}

.bouton-bordure {
    background-color: transparent;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 0;
    text-transform: uppercase;
    font-size: 0.85rem;
    letter-spacing: 2px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.bouton-bordure:hover {
    background-color: #000000;
    color: #ffffff;
}

#annees-counter{
    font-size: 3rem;
    font-weight: 900;
    color: #1327db;
    display: inline-block;
    transition: transform 0.2s ease;
}
.diplômes{
    color: #1327db;
    font-size: 1.3rem;
}


/* DESIGN RESPONSIVE POUR LES MOBILES */
@media (max-width: 767px) {
    .section-principale {
        height: auto;
    }
    
    .titre-principal {
        font-size: 3.5rem;
        margin-top: 80px;
    }
    
    .bloc-image-conteneur {
        display: block;
        width: 100%;
        height: 450px; /* Assure au carrousel sa boîte globale sur mobile */
    }

    .image-moitie-droite {
        height: 450px;
    }
    
    .barre-navigation {
        min-height: 60px;
        backdrop-filter: blur(25px);
        box-shadow: 0 4px 20px rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.178);
    }
}


/* ANIMATION */
@keyframes apparitionFluide {
    from { 
        opacity: 0; 
        transform: translateY(10px); 
    }
    to { 
        opacity: 1; 
        transform: translateY(0); 
    }
}


 .foot{
        background: linear-gradient(rgba(0, 0, 0, 0.4), rgb(51, 3, 3));
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-position: relative;
        background-attachment: fixed;
        min-height: 450px;
    }
    .img-foot-1{
        height: 52px;
    }
    @media(max-width: 766px){
        .img-foot-1{
            height: 67px;
        }
    }
    .link-foot{
        text-decoration: none;
        color: #fff;
    }
    .social-link{
        height: 35px;
    }
    .sociale-card{
        height: 30px;
    }
    .techno{
        height: 45px;
    }
    .logo-projets{
        height: 145px;
    }
    .img-projet{
        height: 145px;
    }
    .badge-info{
        background-color: rgb(19, 22, 32) !important; /* Fond turquoise très transparent */
        color: #ffffff !important; /* Texte turquoise */
        border: 1px solid rgba(0, 180, 160, 0.2); /* Fine bordure */
        padding: 0.5em 0.9em;
        font-weight: 500;
        font-size: 0.85rem;
        letter-spacing: 0.3px;
    }
    .badge-info:hover {
    background-color: rgb(39, 39, 63) !important;
    color: #ffffff !important;
    transition: all 0.3s ease;
}

.techno-web{
    height: 35px;
}

.section-experience{
    background: linear-gradient(rgba(255, 255, 255, 0.589), rgb(255, 255, 255)), url("assets/images/styles/5.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-position: relative;
    min-height: 450px; 
}
.text-exp{
    font-family: 'Inter', sans-serif;
    font-size: 1.20rem;
    line-height: 1.8;
    font-weight: 400;
    color: #ffffff;
}
